*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sliderCard{
    perspective: 150px;
    z-index: 10;
    color: transparent;
    transition: 500ms ease-in-out;
}
.eventName{
    opacity: 1;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.sliderCard:hover{
    cursor: pointer; 
    color : white;
}
.sliderCard::after{
    content: '';
    display: flex;
    width: 0px;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 15;
    transition:  500ms ease-in;
}
.sliderCard:hover:after{
    background: rgba(0,0,0,.8);
    width: 100%;
}